<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/style.css">
	<title>
	</title>
</head>

<body>
<ul class="flex-container">
	<li class="flex-item header">
	<header>
		<ul>
		<li><img src="media/logo.png" alt="logo" class="logo"></li>
		<li>BT</li>
		<li class="headerSearch">
			<form><input placeholder="Search..." />
		</li>
		<li><button>Log out</button></li>
		</ul>
	</header>
	</li>
	<aside class="flex-item sidebar">
	<li>

		<ul class="nav">
		<li><a href="profile.html">Profile</a></li>
		<li><a href="index.html">Menu</a></li>
		<li><a href="music.html">Music</a></li>
		<li><a href="video.html">Video</a></li>
		<li><a href="contacts.html">Contacts</a></li>
		</ul>
	</li>
	</aside>
	<li class="flex-item main">
	<section class="flex-item main_header">
		<p> ADMIN PAGE </p>
	</section>
	<article class="flex-item content">
		<h1>DATABASE</h1>
		<ul>
		each item in list
			<div>
				<p> Name: #{item.fullname}
				<p> Organization: #{item.organization}
				<p> Type: #{item.app_type}
				<p> Text: #{item.message}
				<br>
				img(src = `/saves/files/${item.filePath}` alt = `${item.filePath}` width="300px")
				<hr><br>
	</article>
	</li>
	<li class="flex-item footer">(C) Designed by Kolumbia 2019</li>
</ul>
</body>

</html>